	<div class="well well-small" ng-repeat="device in list">
		<p>{{device.name}}</p>
		<div class="btn-toolbar">
			<div class="btn-group">
				<button class="btn" ng-click="switchOn(device)">ON</button>
				<button class="btn" ng-click="switchOff(device)">OFF</button>
			</div>
			<div class="btn-group">
				<button class="btn" ng-click="editDevice(device)"><i class="icon-wrench"> </i></button>
			</div>
		</div>
	</div>
	<div>
		<a class="btn" ng-click="newDevice()"><i class="icon-plus"></i></a>
	</div>

